{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="tg-innerbanner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="tg-breadcrumb">
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li class="tg-active">Placement</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% for py in placement_year %}

    <center>
        <h3 style="color: rgb(100, 8, 8);">Placement {{py.current_placement_year}}</h3>
    </center>

    {% endfor %}
    <div>
        <table class="content-table col-xs-12">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Batch</th>
                <th>Placed at</th>
            </tr>
            {% for p in placement %}
            <tr>

                <td><img src="/media/{{p.image}}" alt="photo" width="80px"></td>
                <td>{{p.name}}</td>
                <td>{{p.batch}}</td>
                <td>{{p.placed_at}}
                    <img src="/media/{{p.company_logo}}" alt="logo" width="100px">
                    </th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1em;
        min-width: 400px;
        font-weight: bold;
    }

    .content-table th {
        background-color: #009879;
        color: #fff;
        font-weight: bold;
    }

    .content-table td {
        padding: 12px 15px;
    }

    .content-table tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tr:nth-of-type(odd) {
        background-color: #f3f3f3;
    }
</style>
{% endblock content %}